.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 0 3px 0px;
            // display: block;
            float: left;
        }
    }
    &.col2{
        ul li{
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
        }
    }
    &.col3{
        ul li{
            @include make-xs-column(12);
            @include make-sm-column(4);
            @include make-md-column(4);
            @include make-lg-column(4);
        }
    }
    &.col4{
        ul li{
            @include make-xs-column(12);
            @include make-sm-column(3);
            @include make-md-column(3);
            @include make-lg-column(3);
        }
    }
    &.col6{
        ul li{
            @include make-xs-column(12);
            @include make-sm-column(2);
            @include make-md-column(2);
            @include make-lg-column(2);
        }
    }
    &.col5{
        ul li {
            width: 20%;
        }
    }
    a {
        padding: .4em .75em;
        display: block;
        color: $primaryColor;
        width: 100%;
        @include box-sizing();
        &:before{
            content: "";
            width: 13px;
            height: 14px;
            display: inline-block;
            background: url(../images/basic/icon_category.png) no-repeat center center;
            margin-right: .5em;
        }
        &:hover,
        &:focus {
            color: #FFF;
            background: $primaryColor;
            box-shadow: none;
            &:before{
                content: "";
                background: url(../images/basic/icon_category_.png) no-repeat center center;
            }
        }
        &.active {
            color: #FFF;
            background: $primaryColor;
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}