.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 0 3px 0px;
      float: left;
    }
  }
  &.col2{
    ul li{
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(6);
      @include make-lg-column(6);
    }
  }
  &.col3{
    ul li{
      @include make-xs-column(12);
      @include make-sm-column(4);
      @include make-md-column(4);
      @include make-lg-column(4);
    }
  }
  &.col4{
    ul li{
      @include make-xs-column(12);
      @include make-sm-column(3);
      @include make-md-column(3);
      @include make-lg-column(3);
    }
  }
  &.col6{
    ul li{
      @include make-xs-column(12);
      @include make-sm-column(2);
      @include make-md-column(2);
      @include make-lg-column(2);
    }
  }
  &.col5{
    ul li {
      width: 20%;
    }
  }
  a {
    padding: .4em .75em;
    display: block;
    color: $primaryColor;
    width: 100%;
    @include box-sizing();
    &:before{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent transparent transparent #5978a4;
      display: inline-block;
      margin-right: 8px;
    }
    &:hover,
    &:focus {
      color: #FFF;
      background: $primaryColor;
      box-shadow: none;
      &:before{
        border-color: transparent transparent transparent #fff;
      }
    }
    &.active {
      color: #FFF;
      background: $primaryColor;
    }
    span {
      font-size: .813em;
      &:before {
        content: "(";
        display: inline-block;
      }
      &:after {
        content: ")";
        display: inline-block;
      }
    }
  }
}