.font_size {
    // overflow: hidden;
    display: inline-block;
    text-align: center;
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: .938em;
        color: #666;
    }
    ul {
        display: inline-block;
        vertical-align: middle;
        @include li-reset;
        li {
            width: 30px;
            height: 30px;
            font-size: 1em;
            float: left;
            display: block;
            margin: 0 .2em;
            a {
                display: block;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                background: #F1F1F1;
                color: #333;
                &:hover, &:focus {
                    background: $primaryColor;
                    color: #FFF;
                }
                &.active {
                    background: $primaryColor;
                    color: #FFF;
                    &:hover, &:focus {
                        background: $aHover;
                        
                    }
                }
                &.small {
                    font-size: .938em;
                }
                &.large {
                    font-size: 1.125em;
                }
            }
        }
    }
    @include screen('mobile') {
        display: none;
    }
}