footer {
  @include box-sizing(border-box);
  @include clearfix;
  text-align: left;
  font-size: 0.813em;
  padding: 20px 0;
  background: $fatfooterBgColor;
  @include screen('mobile') {
    padding:0 0 10px 0;
  }
  .container {
    @include gutter;
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    &:hover,
    &:focus {
      color: $secondaryColor;
    }
  }
  .footer_logo {
        // @include make-xs-column(8);
        // @include make-sm-column(3);
        // @include make-md-column(3);
        // @include make-lg-column(3);
        // @include gutter();
        display: inline-block;
        margin-left: 1em;
        width: 238px;
        height: 41px;
        @include screen('mobile') {
          display: block;
          margin: 0 0 1em 0;
          width: 100%;
          text-align: center;
        }
        img{
          max-width: 238px;
          max-height: 41px;
          @include screen('mobile') {
            margin: 0 auto;
          }
        }
      }
      .footer_info {
        // @include make-xs-column(12);
        // @include make-sm-column(6);
        // @include make-md-column(6);
        // @include make-lg-column(6);
        // @include gutter();
        color: #dbdbdb;
        clear: both;
        margin-left: 1em;
        @include screen('mobile') {
          margin: 0;
        }
      }
      .footer_icon {
        // @include make-xs-column(12);
        // @include make-sm-column(3);
        // @include make-md-column(3);
        // @include make-lg-column(3);
        // @include gutter();
        float: right;
        display: inline-block;
        margin-right: 1em;
        @include screen('mobile') {
          float: none;
          display: block;
          margin: 0 0 1em 0;
          width: 100%;
          text-align: center;
        }
      }
    // 版權連結
    .footer_link {
      @include li-reset();
        // @include clearfix();
        float: left;
        margin-right: 15px;
        margin-top: -2px;
        @include screen('mobile') {
          float: none;
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 10px;
          display: block;
          overflow: hidden;
        }
        li {
          float: left;
          display: block;
          margin: 0px 10px 0 0px;
          @include screen('mobile') {
            margin: 4px 1%;
            width: 48%;
          }
          a {
            display: block;
            padding: .1em .8em;
            background: #616b74;
            color: #FFF;
            @include transition(all, .3s, ease-out);
            @include screen('mobile') {
              padding: .4em .8em;
              text-align: center;
            }
            &:hover,
            &:focus {
              background: $lightColor;
            }
          }
        }
      }
      p {
        line-height: 1.65em;
        a{
          color: #ecc249;
          margin-left: 1em;
        }
        .counter{
          margin-left: 1em;
        }
      }
    // .update,
    // .counter {
    //     display: inline-block;
    //     margin-right: 5px;
    //     em {
    //         font-style: normal;
    //         color: $primaryColor;
    //         padding: 0 .5em;
    //     }
    // }
    .footer_icon {
      a {
        display: inline-block;
        vertical-align: top;
        position:relative;
        margin-left: 10px;
        
        &:focus {
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0px 0px 0px 1px $aHover inset;
            z-index: 99;
          }
        }
      }
      img {
        max-width: 120px;
        max-height: 42px;
      }
    }
  }