//header
.header {
  position: relative;
  z-index: 99;
  background: #FFF;
  box-shadow: 0px 2px 5px RGBA(0, 0, 0, .3);
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
  }
  &:before {
    content: "";
    width: 100%;
    height: 2.4em;
    border-bottom: 1px solid #b3b3b3;
    position: absolute;
    top: 0;
    left: 0;
    @include screen('mobile') {
      display: none;
    }
  }
  &:after {
    content: "";
    width: 100%;
    height: 3em;
    background: $primaryColor;
    position: absolute;
    bottom: 0;
    left: 0;
    @include screen('mobile') {
      display: none;
    }
  }
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    @include box-sizing;
    @include screen('mobile') {
      display: block !important;
    }
  }
  >.container {
    max-width: $container-max;
    overflow: visible;
    position: relative;
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: #000;
        width: 50%;
        height: 4px;
        top: 30%;
        left: 50%;
        margin-left: -25%;
        display: block;
        opacity: .6;
        border-radius: 1px;
        &:nth-child(2) {
          top: 45%;
        }
        &:nth-child(3) {
          top: 60%;
        }
      }
    }
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(../images/basic/icon_search.png) no-repeat center center;
        background-size: 28px;
        opacity: .6;
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1 {
    float: left;
    width: 141px;
    height: 37px;
    margin: 18px 0 18px 26px;
    padding: 0;
    @include box-sizing;
    a {
      display: inline-block;
    }
    img {
      display: block;
      max-width: 141px;
      max-height: 37px;
    }
    @include screen('mobile') {
      padding: 2px 60px;
      width: 100%;
      text-align: center;
      height: 60px;
      margin: 0;
      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 7px auto;
        transform: scale(.9);

      }
    }
  }
  .navigation {
    @extend %clearfix;
    overflow: hidden;
    width: 100%;
    box-sizing:border-box;
    ul {
      float: right;
      padding: 0;
      margin: 0;
      font-size: .938em;
      list-style: none;
      &.left_nav {
        float: left;
        padding-left: 2em;
        background: #f5f5f5;
        border-right: 1px solid #cbcbcb;
        border-left: 1px solid #cbcbcb;
        @include screen('mobile') {
          border:0;
          padding: 0;
        }
      }
    }
    li {
      float: left;
      margin: 0 .2em;
      a {
        display: inline-block;
        padding: .5em;
        text-decoration: none;
        @include aSetting_nocolor;
        &:hover,&:focus{
          color: #5a77a0; 
        }
      }
    }
  }
}
//search
.search {
  // float: right;
  // vertical-align: middle;
  // padding: 0em .3em 0em;
  // overflow: hidden;
  // @include box-sizing;
  // label {
  //   font-size: 0em;
  //   height: 0;
  //   padding: 0;
  //   margin: 0;
  // }
  // .form_grp {
  //   margin-bottom: 0;
  //   float: left;
  //   margin-right: .3em;
  //   width: 70%;
  //   input {
  //     margin: -0.2em 0 0;
  //     padding: .2em 35px .2em .5em;
  //     box-shadow: none;
  //     &[type="text"] {
  //       margin-top: -2.1em;
  //       &:focus {
  //         box-shadow: 0px 0px 0px 3px $aHover;
  //         outline: none;
  //         border: none;
  //       }
  //     }
  //     &[type="submit"] {
  //       font-size: 0em;
  //       width: 30px !important;
  //       height: 30px;
  //       background: url(../images/basic/icon_search.png) no-repeat center center;
  //       background-size: 20px;
  //       border: none;
  //       display: block;
  //       opacity: .8;
  //       margin-top: -42px;
  //       margin-left: auto;
  //       margin-right: .2em;
  //       position: relative;
  //       z-index: 1;
  //       &:focus {
  //         opacity: 1;
  //         box-shadow: none !important;
  //         outline: 2px solid $aHover;
  //       }
  //     }
  //   }
  // }
  // .btn_grp {
  //   padding: .2em;
  //   margin-bottom: 0;
  //   float: right;
  //   input, input[type="submit"] {
  //     margin: 0;
  //     padding: .4em 1em .4em !important;
  //     font-size: .813em;
  //   }
  // }
  // .keywordHot {
  //   display: block;
  //   vertical-align: middle;
  //   margin-left: .5em;
  //   padding: .1em 0 .3em;
  //   clear: both;
  //   ul {
  //     display: inline-block;
  //     font-size: .813em;
  //     line-height: 1.65em;
  //     margin: 0;
  //     padding: 0;
  //     &:before {
  //       display: inline-block;
  //       content: "";
  //       color: #999;
  //       float: left;
  //     }
  //     li {
  //       margin: 0 .6em 0 0;
  //       padding: 0;
  //       display: inline-block;
  //     }
  //     a {
  //       @include aSetting_nocolor;
  //     }
  //   }
  // }
  &.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 1em .3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333;
    label {
      font-size: 0em;
      line-height: 0;
    }
    .form_grp {
      width: 70%;
      height: auto;
      padding: 0 0 0 5% !important;
      margin-top: 0;
      text-align: right;
      float: left;
      height: 50px;
      position: relative;
      @include box-sizing();
      label {
        display: none;
      }
      input {
        width: 100%;
        margin: 0;
        padding: .6em 45px .5em .5em;
        border-radius: 0;
        border: 1px solid #fff;
        &[type="submit"] {
          font-size: 0em;
          width: 36px !important;
          height: 36px;
          padding: 0;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 24px;
          border: none;
          display: inline-block;
          position: absolute;
          right: 5px;
          top: 0px;
          opacity: .8;
          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
    }
    .btn_grp {
      padding: .1em 5% .1em 0;
      margin-bottom: 0;
      width: 26%;
      text-align: left;
      @include box-sizing();
      input {
        width: 100% !important;
        padding: .6em .5em !important;
        margin: 0;
        border-radius: 0;
        background: #c0a42a;
        border: 1px solid #c0a42a;
      }
    }
    .keywordHot {
      padding-left: 5%;
      margin-top: 10px;
      @extend %clearfix;
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          float: left;
          margin-right: 1em;
        }
      }
      a {
        color: #FFF;
        &:hover,
        &:focus {
          color: $primaryColor;
        }
      }
    }
  }
}
// header fix
.header.fixed {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
  background: rgba(0, 0, 0, .75);
  z-index: 999;
  @include screen('mobile') {
    background: #FFF;
  }
  .menu {
    >ul {
      >li {
        >a {
          color: #FFF;
        }
      }
    }
  }
}
.header_share{
  float: right;
  margin-top: 17px;
  @include screen('mobile') {
    float: none;
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      height: 38px;
      margin: 0px 3px 0 0;
      display: inline-block;
      list-style: none;
      a{
        width: 38px;
        height: 38px;
        display: block;
        text-indent: -9999px;
        color:#000;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &.live{
          width: 60px;
          margin-right: 5px;
          background: url(../images/header/icon_live.png) no-repeat center center;
          @include screen('mobile') {
            background:#fff url(../images/header/icon_live.png) no-repeat center center;
            border-radius:3px; 
          }
          &:hover,&:focus{
            background:#ccc url(../images/header/icon_live.png) no-repeat center center;
            border-radius:3px; 
            box-shadow: 0 0 0 0 #000 inset;
          }
        }
        &.mail{
          background:#9a9a9a url(../images/header/icon_mail.png) no-repeat center center;
          border-radius: 50%;
          &:hover,&:focus{
            background:$primaryColor url(../images/header/icon_mail.png) no-repeat center center;
            box-shadow: 0 0 0 0 #000 inset;
          }
        }
        &.line{
          background: url(../images/basic/icon_line2.png) no-repeat center center;
          background-size: contain;
          border-radius: 50%;
          &:hover,&:focus{
            filter: grayscale(1);
            box-shadow: 0 0 0 0 #000 inset;
          }
        }
        &.youtube{
          background: url(../images/basic/icon_youtube.png) no-repeat center center;
          background-size: contain;
          &:hover,&:focus{
            filter: grayscale(1);
            box-shadow: 0 0 0 0 #000 inset;
          }
        }
      }
    }
  }
}