// 基本樣式
.share {
  @include box-sizing();
  margin: .5em 0;
  ul {
    @include li-reset;
    li {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: left;
      margin: 0px 3px 3px;
      @include screen('tablet') {
        margin: 0px 1px 2px;
        width: 30px;
        height: 30px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// 放進function_panel樣式
.function_panel,.answer {
  .share {
    @include box-sizing();
    text-align: center;
    height: 30px;
    margin: 0;
    position:relative;
    ul {
      display: none;
      position: absolute;
      top: 3em;
      left: -5px;
      width: 30px;
      padding: 10px 5px 5px 5px;;
      background: rgba(0,0,0,0.4);
      box-shadow: 0 0 0 RGBA(0, 0, 0, 0);
      border-radius: 8px;
      z-index: 999;
      height: auto;
      li {
        display: block;
        margin: 0 auto 0.3em;
        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
        a {
          background: transparent;
          display: block;
          padding: 0;
          width: 30px;
          height: 30px;
          &:hover, &:focus {
            background: transparent;
            img {
              filter: invert(0%);
            }
          }
          &:focus {
            outline: 1px solid $primaryColor;
          }
        }
      }
    }
    a.shareButton{
      display: block;
      background: #F1F1F1;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      color: #000;
      &:hover, &:focus {
        background: $linkColor;
        color: #000;
        box-shadow: none;
        img {
          filter: invert(100%);
        }
      }
      img {
        width: 60%;
        height: 60%;
        margin: 20% auto;
      }
    }
        // img {
        //     width: 100%;
        //     height: 100%;
        // }
        // ul {
        //     @include li-reset;
        //     li {
        //         width: 30px;
        //         height: 30px;
        //         display: inline-block;
        //         position: relative;
        //     }
        // }
      }
    }