// slick dots
.slick-dots {
  li {
    margin: 0 4px;
    width: 20px;
    height: 20px;
    button {
      width: 20px;
      height: 20px;
      &:before {
        width: 12px;
        height: 12px;
        background: $primaryColor;
        opacity: 1;
        left: 4px;
        top: 4px;
      }
      &:hover,
      &:focus {
        &:before {
          background: #0077bb;
          box-shadow: 0px 0px 0px 1px #0077bb;
        }
      }

    }
    &.slick-active {
      button {
        &:before {
          background: transparent;
          box-shadow:0 0 0 3px $primaryColor inset;
        }
        &:hover,
        &:focus {
          &:before {
            opacity: .9;
            color: black;
            // background: $lightColor;
            box-shadow: 0 0 0 3px #0077bb inset;
          }
        }
      }
    }
  }
}
.slick-prev, .slick-next{
  top: 50%;
  width: 35px !important;
  height: 60px !important;
  background-size: 25px 46px;
  &:hover,&:focus{
    background-size: 25px 46px;
  }
}
.slick-prev{
  background: url(../images/basic/arrow_left.png) center center no-repeat ;
  left: -5%;
  filter: invert(1);
  opacity: .5;
  &:hover,&:focus{
    background-size: 25px 46px;
    background:rgba(0,0,0,.4) url(../images/basic/arrow_left.png) center center no-repeat ;
    filter: invert(0);
    opacity: 1;
    box-shadow: 0 0 0 0 #000;
  }
}
.slick-next{
  background: url(../images/basic/arrow_right.png) center center no-repeat ;
  right: -5%;
  filter: invert(1);
  opacity: .5;
  &:hover,&:focus{
    background-size: 25px 46px;
    background:rgba(0,0,0,.4) url(../images/basic/arrow_right.png) center center no-repeat ;
    filter: invert(0);
    opacity: 1;
    box-shadow: 0 0 0 0 #000;
  }
}


//  slick燈箱
// .lightbox_slider {
//   padding-bottom: 40px;
//   clear: both;
//   .imgOuter {
//     margin: 0px 15px;
//     @include aspect-ratio(4, 3);
//     height: 200px;
//     overflow: hidden;
//     img {
//       vertical-align: middle;
//       max-width: 100% !important;
//       max-height: 100% !important;
//       width: auto !important;
//       height: auto !important;
//       display: inline-block;
//       position: absolute;
//       left: 0 !important;
//       top: 0 !important;
//       object-fit: contain;
//     }
//   }
//   .infotxt {
//     margin: 0px 10px 0px 20px;
//     padding: 0px;
//     display: none;
//   }
//     // dots
//     .slick-dots {
//       bottom: -30px !important;
//       @include screen('mobile') {
//         bottom: -40px !important;
//         padding: 0;
//       }
//     }
//     //Arrows
//     .slick-prev,
//     .slick-next {
//       top: 50%;
//       width: 50px;
//       height: 50px;
//       transition: .3s ease-out;
//       @include border-radius(6px);
//     }
//     .slick-prev {
//       left: -30px;
//       background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat RGBA(0, 0, 0, .5);
//       background-size: 80%;
//     }
//     .slick-next {
//       right: -30px;
//       background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat RGBA(0, 0, 0, .5);
//       background-size: 80%;
//     }
//     .slick-dots li {
//       width: 10px;
//       height: 10px;
//       margin: 0 10px;
//     }
//     a {
//       color: #555;
//       display: block;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       &:hover,
//       &:focus {
//         @include box-shadow(0px 0px 0px 1px $aHover inset);
//       }
//     }
//   }
.lightbox_slider {
  background: #fff;
  padding: 1em 0;
  clear: both;
  @include screen('mobile') {
    padding: 0;
  }
  .cp_slider {
    @include gutter(50px);
  }
  .img-container {
    margin: 0px 15px;
    @include aspect-ratio(4, 3);
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }
  .caption {
    padding: .5em !important;
    position: absolute;
    background: rgba(0, 0, 0, .75) !important;
    color: #FFF;
    bottom: -2em !important;
    left: 0;
    font-size: .938em !important;
    height: 2em !important;
    line-height: 1 !important;
    width: 100%;
    @include text-overflow;
    transition: .3s ease-out;
  }
  .slick-dots {
    margin-bottom: 0px;
    padding: 0;
    position: relative;
    @include screen('mobile') {
      padding: 0;
      margin-top: 10px;
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 10px;
    }
  }
    //Arrows
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    a {
      color: #555;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:hover,
      &:focus {
        .caption {
          bottom: 0 !important;
        }
      }
    }
  }
/*  slick-lightbox  */
.slick-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999999999999;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  .slick-loading .slick-list {
    background-color: transparent
  }
  .slick-prev {
    left: 5px;
    background: url(../images/basic/arrow_left.png) center center no-repeat;
    background-size: 80%;
    z-index: 9;
    filter: invert(0);
  }
  .slick-next {
    right: 5px;
    background: url(../images/basic/arrow_right.png) center center no-repeat;
    background-size: 80%;
    z-index: 9;
    filter: invert(0);
  }
}
.slick-lightbox-hide {
  opacity: 0;
  &.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
  }
}
.slick-lightbox-hide-init {
  position: absolute;
  top: -9999px;
  opacity: 0;
  &.slick-lightbox-ie {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
  }
}
.slick-lightbox-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.slick-lightbox-slick-item {
  text-align: center;
  overflow: hidden;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  display: block;
  text-align: center;
}
.slick-lightbox-slick-item-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%;
}
.slick-lightbox-slick-img {
  margin: 0 auto 1em;
  display: block;
  max-width: 90%;
  max-height: 90%;
}
.slick-lightbox-slick-caption {
  margin: 20px 0 0;
  color: white;
  @extend %clearfix;
}
.slick-lightbox-close {
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
  height: 45px;
  width: 45px;
  line-height: 0;
  font-size: 0em;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  min-width: auto;
  &:focus {
    outline: none;
  }
  &:before {
    content: "";
    height: 6px;
    width: 32px;
    transform: rotate(45deg);
    position: absolute;
    top: 18px;
    background: #DDD;
    left: 6px;
    transition: .3s all ease-out;
  }
  &:after {
    content: "";
    height: 6px;
    width: 32px;
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
    background: #DDD;
    left: 6px;
    transition: .3s all ease-out;
  }
  &:hover,
  &:focus {
    background: none;
    margin-top: 0;
    border: none;
    &:before,
    &:after {
      background: #FFF;
    }
  }
}
//  同步輪播
.Syncing_slider {
  @extend %clearfix;
  position:relative;
  .slick-slide{
    position:relative;
  }
  .controls{
    text-align: center;
    font-weight: bold;
    max-width:100px;
    color:#FFF;
    padding:.1em .5em;
    margin: 0px auto;
    background:$primaryColor;
    border-radius:3px;
  }
  .img-container {
    @include aspect-ratio(16, 9);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: contain;
    }
  }
  p {
    position: absolute;
    background: RGBA(0, 0, 0, .55);
    text-align: center;
    color: #FFF;
    padding: .5em;
    @include box-sizing;
    @include text-overflow;
    bottom: 0px;
    width: 100%;
    height: 2.5em;
    line-height: 1.5em;
    margin: 0px;
    z-index: 2;
    @include screen('mobile') {
      display: none;
    }
  }
  .slick-prev {
    left: -6%;
  }
  .slick-next {
    right: -6%;
  }
  // .slick-next {
  //   background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
  //   background-size: 80%;
  //   @include screen('mobile') {
  //     right: .5em;
  //   }
  // }
  // .slick-prev {
  //   background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
  //   background-size: 80%;
  //   @include screen('mobile') {
  //     left: .5em;
  //   }
  // }
  .Slider-for {
    width: 90%;
    min-width: 260px;
    max-width:800px;
    margin: 2em auto 1em;
    position: relative;
  }
  .Slider-nav {
    width: 90%;
    min-width: 260px;
    max-width:800px;
    margin: 1em auto;
    position: relative;
    .img-container {
      p {
        display: none;
      }
    }
        /*正在動作的縮圖*/
        .slick-slide.slick-current {
          opacity: 1;
        }
        position: relative;
      }
      .slick-dots {
        display: none !important;
      }
    }