//http://lab.25sprout.com/responsive_table/
table {
  width: 100%;
  border-collapse: collapse;
  caption{
    text-align: left;
    margin-bottom: 10px;
  }
  @include screen('xs_mobile') {
    width: 100%;
  }
  th,
  td {
    padding: .5em;
    text-align: left;
  }
  tr{
    &:nth-child(even){
      background: #F5F5F5;
    }
  }
  th {
    background: #767676;
    color: #fff;
    border: #DDD 1px solid;
    border-right: 0;
    border-left: 0;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    @include screen('mobile') {
      white-space: normal;
    }
    &.nowrap{
      white-space: nowrap;
      @include screen('mobile') {
        white-space: normal;
      }
    }
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
      @include screen('mobile') {
        text-align: left;
      }
    }
  }
  td {
    border: #ddd 1px solid;
    border-right: 0;
    border-left: 0;
    min-height: 1.6em;
    // word-break: break-all;
    &.nowrap{
      white-space: nowrap;
      @include screen('mobile') {
        white-space: normal;
      }
    }
    &.date,&.num,&.center {
      text-align: center;
      @include screen('mobile') {
        text-align: left;
      }
    }
    &.num{
      white-space: nowrap;
    }
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
      @include screen('mobile') {
        text-align: left;
      }
    }
    a{
      word-break: break-all;
      &.new,&.hot{
        text-indent: -9999px;
        overflow: hidden;
        display: inline-block;
        margin: 0 5px;
        &:before{
          content: "";
          display: block;
        }
        &:focus{
          box-shadow: 0 0px 0px 1px #5a77a0;
        }
      }
      &.article{
        color: $primaryColor;
        text-decoration: underline;
        display: block;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  &.table_hover {
    tr:hover {
      background: #F3F3F3;
    }
  }
  &.table_sprite {
    tr:nth-child(even) {
      background: #F5F5F5;
    }
  }
}
.table_list {
  clear: both;
  // padding-top: 10px;
  @include screen('xs_mobile') {
    background-color: transparent !important; 
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
      margin-bottom: 10px; 
    }
    td {
      border: none !important;
      border-bottom: 1px solid #eee !important;
      position: relative;
      padding-left: 35% !important;
      white-space: normal;
      text-align: left!important;
      &.right,&.center,&.num,&.date{
        text-align: left!important;
      }

      &:before {
        content: attr(data-title);
        position: absolute;
        top: .5em;
        left: .5em;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: #000;
      }
    }
  }
}
// fix_th_table
.fix_th_table {
  margin: 1em 0;
  @include screen('mobile') {
    position: relative;
    width: 100%;
    overflow: hidden !important;
  }
  table {
    @include screen('mobile') {
      display: block;
      width: 100%;
            // overflow:hidden;
            overflow-x: scroll;
            // -webkit-overflow-scrolling: touch;
            // -webkit-transform: translate3d(0, 0, 0);
            padding-bottom: 1em; //padding-bottom 是為預留水平捲軸的位置
          }
        }
        th,
        td {
          width: 10em;
          padding: .8em 0;
          text-align: center;
          line-height: 1.2;
          @include screen('mobile') {
            display: inline-block;
            margin-right: -6px;
            margin-left: 0;
            margin-top: -1px;
          }
        }
        th {
          &:first-child {
            width: 8em;
            white-space: normal;
            @include screen('mobile') {
              position: absolute !important;
              left: 0;
              top: auto;
            }
          }
        }
        tr {
          @include screen('mobile') {
            display: block;
            clear: both;
            white-space: nowrap;
            width: auto;
            padding-left: 8em;
            &:first-child {
              border-top: #ddd 1px solid;
            }
          }
        }
      }
      .table_wrapper {
        @include screen('mobile') {
          width: 100%;
          display: block;
          @include clearfix;
          overflow: hidden;
          overflow-x: auto;
          padding-bottom: 1em;
          -webkit-overflow-scrolling: touch;
          -webkit-transform: translate3d(0, 0, 0);
          table {
            width: 100%;
            min-width: 100%;
          }
        }
      }