.mpSlider {
  margin-bottom: 2em;
}
.menu>ul>li>a {
  padding: 0 8px;
  line-height: 3rem;
  @media all and (max-width: 1183px) {
    padding: 0 7px;
  }
  @media all and (max-width: 1167px) {
    padding: 0 6px;
  }
  @media all and (max-width: 1151px) {
    padding: 0 8px;
    font-size: .9375em;
  }
  @media all and (max-width: 1124px) {
    padding: 0 7px;
  }
  @media all and (max-width: 1108px) {
    padding: 0 6px;
  }
  @media all and (max-width: 1092px) {
    padding: 0 5px;
  }
  @media all and (max-width: 1075px) {
    padding: 0 8px;
    font-size: .875em;
  }
  @media all and (max-width: 1058px) {
    padding: 0 7px;
  }
  @media all and (max-width: 1042px) {
    padding: 0 6px;
  }
  @media all and (max-width: 1026px) {
    padding: 0 5px;
  }
}
.menu li li {
  width: 50%;
}
.menu>ul>li .megamenu .search .keywordHot:before {
  content: "Popular Keywords：";
}
.menu>ul>li:nth-last-child(2),.menu>ul>li:nth-last-child(3){
  background: none;
  >a:hover,>a:focus{
    background: none;
    &:before{
      display: block;
    }
  }
  .megamenu{
    background: rgba(0,0,0,0.8);
  }
}
.statistics_block {
  margin:2em 15em;
  @include screen('mobile') {
    margin: 0;
  }
}
.cp .info li {
  width: 49%;
}