.lp {

  table {

    td {
      a {
        @include aSetting_nocolor;
      }
      img{
        vertical-align: text-bottom;
        margin-left: 5px;
      }
    }
  }
  .table_notitle{
    table{
      border-top: 3px solid $primaryColor;
    }
  }
  .list {
    &>ul,ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $primaryColor;
      &>li {
        padding: 1em 0;
        border-bottom: 1px solid #DDD;
        position: relative; 
        .tag{
          margin-left: 2em;
        }
        &>a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: ".";
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: .938em;
          margin-left: 5px;
          @include screen("mobile") {
            display: block;
          }
        }
        time {
          display: inline-block;
          color: #666;
          font-size: .938em;
          margin-left: 1em;
        }
      }
    }
  }
  .album,.video {
    margin: 1em -10px;
    overflow: hidden;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(4);
        @include gutter(20px);
        a {
          display: block;
          text-align: center;
          width: 100%;
          margin: 3% 0;
          min-height: 320px;
          border: 1px solid #DDD;
          box-sizing: border-box;
          // @include border-radius(4px);
          padding: 12px;
          @include aSetting_nocolor;
          @include screen('notebook') {
            min-height: 260px;
          }
          @include screen('tablet') {
            min-height: auto;
          }
          time {
            color: #666;
          }
          &:hover {
            .imgOuter {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
        .imgOuter {
          width: 100%;
          margin-bottom: 15px;
          @include aspect-ratio(4, 3);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: .3s ease-out;
          }
        }
        .videoOuter{
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 30px;
          height: 0;
          overflow: hidden;
          iframe,object,embed{
            position: absolute;
            top: 0;left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .caption {
          text-align: left;
          width: 100%;
          .album_title,.video_title {
            height: 3em;
            overflow: hidden;
            line-height: 1.5em;
            display:block;
            margin: 0 0 4px 0;
            font-weight: bold;
            color: $primaryColor;
          }
          time {
            color: #666;
            font-size: .938em;
            display:block;
            margin: 0 0 3px;
          }
          p{
            margin: 0 0 8px 0;
            font-size: .938em;
          }
        }
      }
    }
  }
}