.topTitle{
	width: 650px;
	min-height: 124px;
	background: $darkColor;
	display: block;
	position: absolute;
	right: 0;
	top: -100px;
	color:#fff;
	padding: 1.8em;
	box-sizing: border-box;
	&.segment{
		background: rgb(47,71,109);
		background: linear-gradient(90deg, rgba(47,71,109,1) 0%, rgba(82,111,157,1) 100%);
	}
	@include screen('mobile') {
		width: 100%;
		position: relative;
		top: auto;
		min-height: auto;
		padding: 1em 1.5em;
		margin-bottom: 10px;
	}
	h2{
		color: #fff;
		font-size: 1.625em;
		margin: 15px 0;
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(6);
		@include make-lg-column(6);
		@include screen('mobile') {
			margin: 0 0 10px 0;
			display: block;
			float: none;
			text-align: center;
		}
		&:before{
			content: "";
			width: 30px;
			height: 32px;
			background: url(../images/basic/icon_logo.png) no-repeat center center;
			background-size: cover;
			display: inline-block;
			margin-right: .6em;
			vertical-align: text-top;
		}
	}
	ul.link{
		@include li-reset;
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(6);
		@include make-lg-column(6);
		opacity: .8;
		font-size: 1em;
		@include screen('mobile') {
			margin: 0;
			display: block;
			float: none;
			overflow: hidden;
		}
		li{
			width: 50%;
			float: left;
			&:after{
				content: "";
				width: 14px;
				height: 15px;
				display: inline-block;
				background: url(../images/basic/icon_category_.png) no-repeat center center;
				margin-left: 6px;
			}
			a{
				color: #fff;
				padding: 5px;
				display: inline-block;
				&:hover,&:focus{
					color: $secondaryColor;
				}
			}
			&:last-child{
				width: 100%;
			}
		}
	}
}

.reform{
	position: relative;
	.reform_title{
		text-align: center;
		font-size: 1.625em;
		color: $darkColor;
		margin: 0 0 24px 0;
		clear: both;
		@include screen('mobile') {
			margin: 0 0 10px 0;
			font-size: 1.375em;
		}
		&:before{
			content: "";
			width: 30px;
			height: 32px;
			background: url(../images/basic/icon_logo.png) no-repeat center center;
			background-size: cover;
			display: inline-block;
			margin-right: .6em;
			vertical-align: text-top;
		}
	}
}
.reform_data{
	padding: 3.75em 5.3em;
	border-bottom: 1px solid #ccc;
	@include screen('mobile') {
		padding: 1.5em 0;
	}
	.reform_date{
		color: #a0a0a0;
		text-align: center;
		margin-bottom: 40px;
		@include screen('mobile') {
			margin-bottom: 10px;
		}
	}
	ul{
		@include li-reset;
	}
	li{
		@include make-xs-column(6);
		@include make-sm-column(4);
		@include make-md-column(2);
		@include make-lg-column(2);	
		@include gutter(22px);
		margin-bottom: 1em;
		a{
			display: block;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			&:hover,&:focus{
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				.status{
					&.pass~.no{
						color: #2f476b;
					}
					&.put~.no{
						color: #3b5f26;
					}
					&.propose~.no{
						color: #3979be;
					}
					&.planning~.no{
						color: #638000;
					}
				}
			}
		}
	}

	.status{
		display: block;
		color: #fff;
		line-height: 2.125em;
		text-align: center;
		letter-spacing: 1px;
		position: relative;
		margin-bottom: 20px;
		background: #666;
		&:after{
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 8px 0 8px;
			position: absolute;
			left: 50%;
			bottom: -10px;
			margin-left: -8px;
		}
		&.pass{
			background: #2f476b;
			&:after{
				border-color: #2f476b transparent transparent transparent;
			}
		}
		&.put{
			background: #3b5f26;
			&:after{
				border-color: #3b5f26 transparent transparent transparent;
			}
		}
		&.propose{
			background: #3979be;
			&:after{
				border-color: #3979be transparent transparent transparent;
			}
		}
		&.planning{
			background: #638000;
			&:after{
				border-color: #638000 transparent transparent transparent;
			}
		}
	}
	.type{
		display: block;
		text-align: center;
		color: #272727;
		margin-bottom: 6px;
	}
	.no{
		display: block;
		text-align: center;
		font-family: "Century Gothic";
		font-weight: bold;
		font-size: 3.25em;
		color: #373737;
		line-height: 1em;
		&:after{
			content: "項";
			font-size: 0.3em;
			margin-right: -10px;
		}
	}
	.more{
		text-align: center;	
		a{
			margin-top: 30px;
			padding: 0 42px;
			display: inline-block;
			line-height: 40px;
			border:1px solid #a8acb1;
			color: #666;
			box-shadow: none;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			background: #efefef;
			@include screen('mobile') {
				margin-top: 0;
			}
			&:hover,&:focus{
				background: #a8acb1;
				color: #fff;
			}
		}
	}
}
.reform_program{
	padding: 3.75em 5.3em;
	background: url(../images/reform/program.jpg) no-repeat 0 0;
	overflow: hidden;
	clear: both;
	@media (max-width:1200px){
		padding: 3.75em 2em;
	}
	@media (max-width:1030px){
		padding: 3.75em 1em;
	}
	@include screen('mobile') {
		padding: 1.5em 0;
		background: none;
	}
	.reform_title{
		margin-bottom: 60px;
		@include screen('mobile') {
			margin-bottom: 10px;
		}
	}
	ul{
		@include li-reset;

	}
	li{
		width: 20%;
		float: left;
		counter-increment: step-counter;
		margin-bottom: 6px;
		@include screen('tablet') {
			width: 25%;
		}
		@media (max-width:948px){
			width: 33.3%;
		}
		@media (max-width:768px){
			width: 50%;
		}
	}
	a{
		display: block;
		width: 183px;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		@media (max-width:768px){
			width: 100%;
		}
		&:hover,&:focus{
			// background: $primaryColor;
			// .program_title{
			// 	color: #fff;
			// }
			.program_pic:after{
				border-color: $primaryColor transparent transparent transparent;
			}
			.program_pic img{
				transform: scale(1.1);
			}
		}
	}
	.program_pic{
		position: relative;
		display: block;
		width: 183px;
		height: 183px;
		overflow: hidden;
		@include screen('mobile') {
			width: 100%;
		}
		&:before{
			content: counter(step-counter);
			position: absolute;
			font-family: "Century Gothic";
			font-size: 1.75em;
			color: #fff;
			z-index: 10;
			font-weight: bold;
			left: 5px;
			top: 8px;
			width: 30px;
			text-align: center;
		}
		&:after{
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 65px 65px 0 0;
			border-color: #bda407 transparent transparent transparent;
			position: absolute;
			left: 0;
			top: 0;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		img{
			width: 183px;
			height: 183px;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			@include screen('mobile') {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.program_title{
		width: 100%;
		text-align: center;
		padding: 10px 0;
		display: block;
		color: #272727;
	}
}
.check_reform{
	display: inline-block;
	clear: both;
	position: relative;
	float: right;
	margin-top: 30px;
	margin-right: 100px;
	margin-bottom: 20px;
	@media (max-width:1200px){
		margin-right: 30px;
	}
	@include screen('mobile') {
		width: 100%;
		position: relative;
		bottom:auto;
		right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 0;
		float: none;
		display: block;
	}
	a{
		line-height: 2.5em;
		color: #fff;
		padding:0 3em 0 1em;
		letter-spacing: .05em;
		display: block;
		background: #222; 
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:after{
			content: "";
			background: $lightColor url(../images/icon_more_.png) no-repeat center center;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 40px;
			display: block;
		}
		&:hover,&:focus{
			background: $linkColor;
			box-shadow: none;
		}
	}
}
.reform_text{
	padding:3.75em 5.3em;
	@media (max-width:1200px){
		padding: 3.75em 2em;
	}
	@media (max-width:1030px){
		padding: 3.75em 1em;
	}
	@include screen('mobile') {
		padding: 1.5em 0;
		background: none;
	}
	.text{
		font-size: 0.9375em;
	}
}
.reform_method{
	padding:1em 5.3em;
	@media (max-width:1200px){
		padding: 1em 2em;
	}
	@media (max-width:1030px){
		padding: 1em 1em;
	}
	@include screen('mobile') {
		padding: 1.5em 0;
		background: none;
	}
	// .method_title{
	// 	font-size: 1.25em;
	// 	color: $primaryColor;
	// 	padding-bottom: 6px;
	// 	border-bottom: 2px solid $primaryColor;
	// 	&:before{
	// 		content: "";
	// 		width: 25px;
	// 		height: 27px;
	// 		display: inline-block;
	// 		background: url(../images/basic/icon_logo_blue.png) no-repeat 0 0;
	// 		vertical-align: text-bottom;
	// 		margin-right: 10px;
	// 	}
	// 	&:after{
	// 		content: "";
	// 		width: 14px;
	// 		height: 15px;
	// 		display: inline-block;
	// 		background: url(../images/basic/icon_category.png) no-repeat 0 0;
	// 		margin-left: 10px;
	// 	}
	// }
}
.reform_search{
	overflow: hidden;
	background: #e5e5e5;
	margin-bottom: 36px;
	clear: both;
	.label{
		@include make-xs-column(12);
		@include make-sm-column(3);
		@include make-md-column(3);
		@include make-lg-column(3);
		background: #1a3966;
		color: #fff;
		box-sizing: border-box;
		line-height: 62px;
		font-size: 1.125em;
		color: #fff;
		text-align: center;
		@include screen('mobile') {
			line-height: 1em;
			padding: .8em 0;
		}
	}
	.form_grp{
		padding: 10px;
		overflow: hidden;
		box-sizing: border-box;
		margin-bottom: 0;
		@include make-xs-column(12);
		@include make-sm-column(9);
		@include make-md-column(9);
		@include make-lg-column(9);
		@include screen('mobile') {
			padding: 1em;
		}
	}
	select{
		@include make-xs-column(12);
		@include make-sm-column(3);
		@include make-md-column(3);
		@include make-lg-column(3);
		border-radius: 0;
		border:1px solid #c1c1c1;
		margin: 0 5px;
		@include screen('mobile') {
			margin: 0 0 8px 0;
		}
	}
	input[type="text"]{
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(4);
		@include make-lg-column(4);
		border-radius: 0;
		border:1px solid #c1c1c1;
		margin: 0 5px;
		padding: 10px;
		@include screen('mobile') {
			margin: 0 0 8px 0;
		}
	}
	input[type="button"],input[type="submit"]{
		@include make-xs-column(12);
		@include make-sm-column(1);
		@include make-md-column(1);
		@include make-lg-column(1);
		border-radius: 0;
		border:0;
		margin: 0 5px;
		background: $linkColor;
		color: #fff;
		padding: 9px 16px;
		@include screen('mobile') {
			margin: 0 0 8px 0;
		}
	}
}
.method_block{
	clear: both;
	margin-bottom: 25px;
	.method{
		font-size: 1.375em;
		color: #fff;
		background: #5a77a0;
		margin-bottom: 25px;
		line-height: 52px;
		padding: 0 0 0 70px;
		position: relative;
		span{
			font-size: 1.364em;
			background: #1a3966;
			line-height: 52px;
			display: block;
			font-family: "Century Gothic";
			font-weight: bold;
			text-align: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 55px;
		}
	}
	.latest{
		position: relative;
		padding-left: 74px;
		letter-spacing: .04em;
		@include screen('mobile') {
			padding-left: 0;
		}
		.latest_title{
			content: "最新進度";
			color: #fff;
			background: $linkColor;
			padding: 8px;
			width: 56px;
			height: 56px;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			font-size: 1em;
			font-weight: normal;
			line-height: 1.2em;
			text-align: center;
			margin: 0;
			@include screen('mobile') {
				position: relative;
				width: auto;
				height: auto;
				display: inline-block;
				margin-bottom: .5em;
			}
		}
		.date{
			font-size: 0.9375em;
			color:#666;
			margin-bottom: 2px;
		}
		.title{
			color: #00347f;
			font-size: 1.125em;
			margin-bottom: 3px;
			text-align: justify;
			font-weight: bold;
		}
		.text{
			padding-bottom: 2em;
			p{
				margin-top: 0;
				text-align: justify;
			}
		}
		.gohistory{
			position: absolute;
			right: 0;
			bottom: 0;
			a{
				line-height: 34px;
				height: 34px;
				padding: 0 38px;
				color: #fff;
				background: #1a3966;
				display: inline-block;
				font-size: 0.9375em;
				&:focus{
					box-shadow: none;
				}
			}
			&:hover{
				a{
					background: $linkColor;
				}
			}
			&.active{
				&:after{
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 8px 0 8px;
					position: absolute;
					left: 50%;
					bottom: -10px;
					margin-left: -8px;
					border-color: #1a3966 transparent transparent transparent;
				}
				&:hover{
					&:after{
						border-color: $linkColor transparent transparent transparent;
					}
					a{
						background: $linkColor;
					}
				}
			}
		}
	}
	.history_block{
		background: #e5e5e5;
		padding: 1.5em 2em;
		// font-size: 0.9375em;
		letter-spacing: .04em;
		display: none;
		.info{
			margin-bottom: 2em;
			display: block;clear: both;
			line-height: 160%;
			.info_title{
				font-size: 1.125em;
				margin:8px 0;
				text-align: justify;
			}
			p{
				margin-top: 0;
				text-align: justify;
			}
		}
		ul.year{
			@include li-reset;
			border-left: 1px solid $primaryColor;
			padding-left: 44px;
			padding-bottom: 2em;
			margin-left: 2em;
			margin-bottom: 0;
			position: relative;
			@include screen('mobile') {
				margin-left: 1em;
				padding-left: 30px;
			}
			li{
				&:first-child{
					position: absolute;
					left: -28px;
					top: 0;
					width: 55px;
					height: 55px;
					line-height: 55px;
					border-radius: 50%;
					display: block;
					color: #fff;
					text-align: center;
					display: block;
					background: $primaryColor;
					font-size: 1.4em;
					font-family: "Century Gothic";
					font-weight: bold;
					@include screen('mobile') {
						width: 44px;
						height: 44px;
						line-height: 44px;
						left: -22px;
					}

				}
				.date{
					font-size: 0.9375em;
					color:#666;
					margin-bottom: 2px;
				}
				.title{
					color: #00347f;
					font-size: 1.125em;
					margin-bottom: 3px;
					text-align: justify;
					font-weight: bold;
				}
				.text{
					margin-bottom: 2em;
					p{
						margin-top: 0;
						text-align: justify;
					}
				}
			}
		}	
		.more_history{
			display: block;
			text-align: center;
			a{
				color: $primaryColor;
				padding: .5em 1em;
				&:after{
					content: "";
					width: 10px;
					height: 10px;
					display: inline-block;
					border-top: 2px solid #2a476f;
					border-left: 2px solid #2a476f;
					transform: rotate(225deg);
					margin-left: 6px;
					vertical-align: text-top;
				}
				&:hover,&:focus{
					color: #fff;
					background: $primaryColor;
					&:after{
						border-top: 2px solid #fff;
						border-left: 2px solid #fff;
					}
				}
				&.active{
					&:after{
						transform: rotate(45deg);
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.noBg{
	background: none;
	padding: 0 5.3em;
	display: none;
	@media (max-width:1200px){
		padding: 0em 2em;
	}
	@media (max-width:1030px){
		padding: 0em 1em;
	}
	@include screen('mobile') {
		padding: 1.5em 0;
	}
}

.qa_list{
	>ul{
		@include li-reset;
		>li{
			margin-bottom: 2em;
		}
	}
	.question{
		margin-bottom: 25px;
		padding: 0;
		position: relative;
		border:1px solid #c1c1c1;
		display: table;
		width: 100%;
		box-sizing: border-box;
		a{
			width: 100%;
			height: 100%;
			display: block;
			&:after{
				content: "";
				width: 20px;
				height: 20px;
				border-top: 2px solid #5b5b5b;
				border-left: 2px solid #5b5b5b;
				transform: rotate(135deg);
				position: absolute;
				right: 20px;
				top: 18px;
			}
		}
		.num{
			font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
			background: $linkColor;
			color: #fff;
			font-size: 1.375em;
			padding: .8em;
			display: table-cell;
			vertical-align: top;
		}
		.text{
			font-size: 1.125em;
			display: table-cell;
			padding: 1em;
			vertical-align: top;
			color: #444;
		}
	}
	.answer{
		.share{
			a{
				display: block;
				text-indent: -9999px;
			}
		}
		.text{
			line-height: 160%;
		}
		.dep{

		}
	}
}

.party{
	.process{
		width: 80%;
		background: #ccc;
		margin: 0 auto;
		ul{
			@include li-reset;
			li{
				width: 90%;
				height: 145px;
				border-radius: 0 80px 80px 0;
				border:12px solid #3979be;
				border-left: 0;
				float: right;
				margin-top: -12px;
				padding: 20px 20%;
				box-sizing: border-box;

				&:nth-child(odd){
					border-radius: 80px 0 0 80px;
					border:12px solid #3979be;
					border-right: 0;
					float: left;
				}
				&:first-child{
					margin-top: 0;
				}
				.step_title{
					color: #2367b1;
					float: left;
					
					span{
						display: block;
						font-family: century-gothic, sans-serif;
						font-weight: bold;
						font-size: 1.875em;
					}
				}
				ul{
					float: left;
					li{
						width: 50%;
						height: auto;
						border:0;
						float: left;
						margin: 0;
						padding: 0;
						&:nth-child(odd){
							border:0;
						}
					}
				}
			}
		}
	}
}